.header__search-input {
    margin-right: 5px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:33px;
    width:100%;
    background:#999;
    background-color: #D8D8D8;
}

.footer__star-button {
    margin-left: 10px;
    margin-right: 10px;
}