$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import './header.scss';

.btn {
	&:active:focus, &:focus {
		outline: none;
	}
}

.btn-default
{
	&:active:focus
	{
		outline: none;
		background-color: darken( #fff, 10%);
	}
	&:focus
	{
		outline: none;
		background-color: #fff;
	}
}