<!DOCTYPE html>
<html>
	<head>
        <meta utf="utf-8"/>
        <title>Shop</title>
	    <link rel="stylesheet" href="/shop-build.css" />
    </head>
    <body>
        <div id="react-container"></div>
	    <script src="/shop-build.js"></script>
	</body>
</html>
